
:root {
	--base-color: #404040;
}
body { 
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: var(--base-color);
}

main {
	max-width: 40rem;
	margin: 5rem auto;
}

a, a:visited {
	color: var(--base-color);
}

a:hover {
	color: darkgoldenrod;
}

footer {
	display:flex; 
	flex-direction:column; 
	align-items: center;  
	max-width: 35rem; 
	margin: 5rem auto; 
	font-size: 0.95rem;	
}