body {
    background: #303030;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}


section {
    display:flex;
    flex-direction: column;
}

.fadein, .fadein img  {
    -webkit-animation: fadeIn ease 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn ease 1s; /* Firefox < 16 */
        -ms-animation: fadeIn ease 1s; /* Internet Explorer */
         -o-animation: fadeIn ease 1s; /* Opera < 12.1 */
            animation: fadeIn ease 1s;
}
            
@keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-moz-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-webkit-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-o-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-ms-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; }}

.color-circle {
   border-radius:50%; 
   margin: 0.5rem; 
   width: 5rem;
   height: 5rem;
}


.text {
   margin: 1rem;
   font-size: 1rem;
}

.bold {
   font-weight: bold;
}

section {
    text-align: center;
}
